version: '3.8'
services:
  web:
    build: .
    ports:
    - "8000:8000"
    links:
    - mysql
    depends_on:
      - mysql
    environment:
      FLASK_ENV: development
    volumes:
    - .:/app
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "1"
