# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_USER    - login info for docker hub
# DOCKER_PASS
#
version: 2.1
jobs:
  style:
    docker:
      - image: python:3
    steps:
      - checkout
      - run:
          name: Install black
          command: pip install black
      - run:
          name: Black Python
          command: black --diff --check .
  security:
    docker:
      - image: python:3
    steps:
      - checkout
      - run:
          name: Install bandit
          command: pip install bandit==1.6.2
      - run:
          name: Bandit Security Check
          command: bandit -r -ll nazgul/
  build:
    docker:
      - image: docker:stable-git
    working_directory: /dockerflow
    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Create a version.json
          command: |
            # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
            printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
            "$CIRCLE_SHA1" \
            "$CIRCLE_TAG" \
            "$CIRCLE_PROJECT_USERNAME" \
            "$CIRCLE_PROJECT_REPONAME" \
            "$CIRCLE_BUILD_URL" > version.json

      - run:
          name: Build Docker image
          command: docker build -t app:build .

      # save the built docker container into CircleCI's cache. This is
      # required since Workflows do not have the same remote docker instance.
      - run:
          name: docker save app:build
          command: mkdir -p /cache; docker save -o /cache/docker.tar "app:build"
      - save_cache:
          key: v1-{{ .Branch }}-{{epoch}}
          paths:
            - /cache/docker.tar

  test:
    docker:
      - image: circleci/python:3.7
      - image: circleci/mysql:5.6-ram
        environment:
          MYSQL_DATABASE: bouncer
    steps:
      - checkout
      - run:
      # Our primary container isn't MYSQL so run a sleep command until it's ready.
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1
      - run:
          name: Test Code
          command: |
            sudo pip3 install --no-cache -r requirements.txt
            sudo python3 setup.py install
            AUTH_USERS='{"admin": "admin"}' nazgul &
            pytest -vv
      - run:
          name: Bouncerscript Test
          command: |
            sudo pip3 install https://github.com/AmanuelAaron/bouncerscript/archive/server-integration-test.zip
            AUTH_USERS='{"admin": "admin"}' nazgul &
            bouncerscript bouncerscript_config.json
      - run:
          name: Bouncerscript Test w/ Production Payload
          command: |
            sudo mkdir /usr/local/lib/python3.7/site-packages/bouncerscript/work_dir
            sudo mkdir /usr/local/lib/python3.7/site-packages/bouncerscript/artifact_dir
            sudo cp bouncerscript_prod_task.json /usr/local/lib/python3.7/site-packages/bouncerscript/work_dir/task.json
            AUTH_USERS='{"admin": "admin"}' nazgul &
            bouncerscript bouncerscript_prod_config.json


  deploy:
    docker:
      - image: docker:18.02.0-ce
    steps:
      - setup_remote_docker
      - restore_cache:
          key: v1-{{.Branch}}
      - run:
          name: Restore Docker image cache
          command: docker load -i /cache/docker.tar

      - run:
          name: Deploy to Dockerhub
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
            # deploy master
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker tag app:build ${DOCKERHUB_REPO}:latest
              docker push ${DOCKERHUB_REPO}:latest
            elif  [ ! -z "${CIRCLE_TAG}" ]; then
            # deploy a release tag...
              echo "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker tag app:build "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
              docker images
              docker push "${DOCKERHUB_REPO}:${CIRCLE_TAG}"
            fi

workflows:
  version: 2

  lint:
    jobs:
      - style

  security:
    jobs:
      - security

  build-test-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

      - test:
          filters:
            tags:
              only: /.*/

      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /.*/
            branches:
              only: master
